:root{
    
--cor-fundo: #a4c6f3;
--cor-texto: #222222;
--cor-principal:  #021c55;
--cor-secundaria: white;
--cor-hover: #04295c;
--cor-superficie: white;
--cor-card:#021c55;
--cor-legenda:  #a5b9fa;
--cor-clara: white;
--cor-rodape: rgb(163, 155, 155);
}
body {
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
    font-family: Arial, sans-serif;
    margin: 0;
}

header {
    background-color: var(--cor-principal);
    color: var(--cor-clara);
    text-align: center;
    padding: 30px;
}

h1 {d
    font-size: 36px;
}

h2 {
    color: #04295c;
}

p {
    font-size: 18px;
    line-height: 1.6;
}

nav {
    margin-top: 20px;
}

nav a {
    color: white;
    text-decoration: none;
    background-color: #021c55;
    padding: 10px 15px;
    border-radius: 8px;
    margin: 5px;
    display: inline-block;
}

nav a:hover {
    background-color: #a5b9fa;
}

main {
    width: 80%;
    margin: auto;
}

section {
    background-color: white;
    margin: 20px 0;
    padding: 20px;
    border-radius: 12px;
}

img {
    width: 100%;
    max-width: 600px;
    display: block;
    margin: auto;
    border-radius: 12px;
}

figcaption {
    text-align: center;
    font-size: 14px;
    color: white;
    margin-top: 8px;
}

.card {
    background-color: #71a4f0;
    padding: 15px;
    margin: 15px 0;
    border-left: 6px solid #0e0244;
    border-radius: 10px;
}

.card h3 {
    margin-top: 0;
}

footer {
    background-color: #222222;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 30px;
}

button{
   background-color: rgb(127, 219, 255);
   color: white;
   border: none;
   padding: 10px 15px;
   border-radius: 8px;
   cursor: pointer;
}

button:hover {
   background-color: aqua;
}
.curtir {
   display: block;
   width: fit-content;
   margin: 20px auto;
}

